* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 35px 30px;
	color: #ffffff;
	background-color: #0000FF;
}

.body-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 200px 0px;
	margin: 0 auto;
	max-width: 1440px;
}

.body-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 5px solid #000000;
	margin: 10px;
	font-size: 50px;
	font-weight: bold;
	width: 600px;
	height: 300px;
	text-align: center;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	color: #ffffff;
	background-color: #0000FF;
}

/* Макет для мобильных */
@media only screen and (max-width: 390px) {
	.body-container {
		padding: 20px 0px;
	}

	.body-item {
		font-size: 25px;
		width: 330px;
		height: 165px;
	}
}