* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

.menu {
    padding: 80px;
    color: #fff;
    background-color: #E5E000;
}

.header-img {    
    height: 1080px;
    background-image: url(images/header.png);
    background-size: cover;
}

.links {
    padding: 36px 80px;
    color: #fff;
    background-color: #E5E000;    
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: red;
}

.body-container {
    display: flex;
    justify-content: center;
    padding: 110px 80px;
}

.body-item>h1 {
    font-weight: 700;
}

.body-item>p {
    font-weight: 300;
    font-size: xx-large;
    margin-top: 80px;
}

.footer {
    padding: 80px;
    color: #fff;
    background-color: #E5E000;    
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 205px;
    height: 46px;
}